{% extends "app/base.html" %}

{% block title %}Home Page{% endblock %}

{% block body %}
<div class="container col mt-5 d-flex flex-column">
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4 text-center">
			<ul class="list-group list-group-flush" id="user-info">
				<li class="list-group-item">Username: {{ user.username }}</li>
				{% if user.birth_date %}
				<li class="list-group-item">Birthday: {{ user.birth_date }}</li>
				<li class="list-group-item">Age: {{ user.age }}</li>
				{% endif %}
				<li class="list-group-item">
					<div>
						Level: {{ user.level }} - Score: {{ user.score }}
					</div>
					<div class="progress mt-2">
						<div class="progress-bar bg-danger" style="width:{{ score_progress }}%">{{ user.score }}</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-4"></div>
	</div> 

	<div style="height:60px"></div>

	<div class="row">
		<div class="col-4">
			<div class="card">
				<ul class="list-group">
					<li class="list-group-item">
						<strong>No Ejaculation: </strong><br>{{ no_ejaculation.days }} days and {{ no_ejaculation.hours }}hrs, {{ no_ejaculation.minutes }} mins, {{ no_ejaculation.seconds }}s
					</li>
					<li class="list-group-item"><strong>Your target: </strong>{{ user.ejaculation_target }} days</li>
					<li class="list-group-item">
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-animated" style="width:{{ ejaculation_progress }}%">
								{% if ejaculation_progress > 15 %}
								<strong>{{ ejaculation_progress|floatformat:2 }}%</strong>
								{% endif %}
							</div>
						</div>
					</li>
					<li class="list-group-item text-center">
						<form action="{% url 'relapse' 0 %}" method="post">
							{% csrf_token %}
							<button class="btn btn-danger" type="submit">Relapse!</button>
						</form>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-4">
			<div class="card">
				<ul class="list-group">
					<li class="list-group-item"><strong>No porn: </strong><br>{{ no_porn.days }} days and {{ no_porn.hours }}hrs, {{ no_porn.minutes }} mins, {{ no_porn.seconds }}s</li>
					<li class="list-group-item"><strong>Your target: </strong>{{ user.porn_target }} days</li>
					<li class="list-group-item">
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width:{{ porn_progress }}%">
								{% if porn_progress > 15 %}
								<strong>{{ porn_progress|floatformat:2 }}%</strong>
								{% endif %}
							</div>
						</div>
					</li>
					<li class="list-group-item text-center">
						<form action="{% url 'relapse' 1 %}" method="post">
							{% csrf_token %}
							<button class="btn btn-danger" type="submit">Relapse!</button>
						</form>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-4">
			<div class="card">
				<ul class="list-group">
					<li class="list-group-item"><strong>No masturbation: </strong><br>{{ no_masturbation.days }} days and {{ no_masturbation.hours }}hrs, {{ no_masturbation.minutes }} mins, {{ no_masturbation.seconds }}s</li>
					<li class="list-group-item"><strong>Your target: </strong>{{ user.masturbation_target }} days</li>
					<li class="list-group-item">
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:{{ masturbation_progress }}%">
								{% if masturbation_progress > 15 %}
								<strong>{{ masturbation_progress|floatformat:2 }}%</strong>
								{% endif %}
							</div>
						</div>
					</li>
					<li class="list-group-item text-center">
						<form action="{% url 'relapse' 2 %}" method="post">
							{% csrf_token %}
							<button class="btn btn-danger" type="submit">Relapse!</button>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
