{% extends "app/base.html" %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="container" id="login-form">
	<div style="height:120px"></div>
	<form action="{% url "login" %}" method="post">
		{% csrf_token %}

		<div class="mb-3 row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10 text-center">
				<h3>Login Form</h3>
			</div>
		</div>

		<div class="mb-3 row">
			<label class="col-sm-2 col-form-label" for="username">Username</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="username" required autofocus autocomplete="off">
			</div>
		</div>
		
		<div class="mb-3 row">
			<label class="col-sm-2 col-form-label" for="password">Password</label>
			<div class="col-sm-10">
				<input class="form-control" type="password" name="password" required autofocus>
			</div>
		</div>

		<div class="mb-3 row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10 text-center">
				<button class="btn btn-primary" type="submit"><strong>Login</strong></button>
			</div>
		</div>

		<div class="mb-3 row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10 text-center">
				Don't have an account? <a href="{% url 'register' %}">Register here</a>
			</div>
		</div>
	</form>
</div>
{% endblock %}
