{% extends "app/base.html" %}

{% block title %}Login{% endblock %}

{% block body %}
<div>
	<form action="{% url "register" %}" method="post">
		{% csrf_token %}
		<div>
			<label for="username">Username: </label>
			<input type="text" name="username" required autofocus>
		</div>
		<div>
			<label for="password">Password: </label>
			<input type="password" name="password" required>
		</div>
		<div>
			<label for="confirmation">Confirmation: </label>
			<input type="password" name="confirmation" required>
		</div>
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
</div>
{% endblock %}
